{% extends 'padre.html' %}

{% load static %}

{% block Contenido_cambiante %}
  <center>
      
    {% if celulares %}
        
      
        
    <div class="card">
    <div class="card-header" style="background-color: rgba(244, 244, 136, 0.957);">
    <h4>Resultado de búsqueda</h4>
    </div>
    {% for celular in celulares %}
      <ul class="list-group list-group-flush">
      <li class="list-group-item"><h5>Modelo: {{celular.modelo}}</h5> </li>
      <li class="list-group-item"><h5>Marca: {{celular.marca}}</h5></li>
      <li class="list-group-item"><h5>Hay en stock: {{celular.stock}} unidades</h5></li>
    </ul>
    {% endfor %}
    </div>
    
    {% else %}
    <h2 class="h4 fw-bolder alert-danger">USTED HA INGRESADO UN DATO INEXISTENTE,INTENTE DE NUEVO</h2> 
    
    {% endif %}
    
            
  </center>
   

{% endblock %}
