<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static%}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Mi app</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static '/assets/iconito.png'%}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
            <div class="container px-4 px-lg-5">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <a class="nav-link" href="{%url 'Inicio'%}">Volver a la pagina de inicio</a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <section>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6">
                        <h1 class="mt-5">Aqui vera la informacion</h1>
                        
                        {% block Contenido_cambiante %}
                            
                        {% endblock Contenido_cambiante %}
                            
                    </div>
                </div>
            </div>
        </section>        
    </body>
</html>
