{% extends 'padre.html' %}

{% load static %}

{% block Contenido_cambiante %}

<h1 class="display-5 fw-bolder text-black mb-2"> Modificacion de Celular</h1>
<div class="card-header" style="background-color: rgba(244, 244, 136, 0.957);">
  <h4>Existencias actuales de celulares</h4>
</div>




       
    <table class="table table-sm">
        
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Stock</th>
            <th scope="col">Accion</th>

          </tr>
        </thead>
        {% for items in Software %}
        <tbody>
          <tr>
            <th scope="row">{{celus.id}}</th>
            <td>{{items.marca}}</td>
            <td>{{items.modelo}}</td>
            <td>{{items.stock}}</td>
            <td><div><form action="{% url 'eliminar_software' items.id %}" method="POST">{% csrf_token %}
                <button class="btn btn-outline-dark">Eliminar</button>
            </form></div></td>
          </tr>
        
        </tbody>
        {% endfor %}
    </table>
   


    {% endblock %}