{% extends 'padre.html' %}

{% load static %}

{% block Contenido_cambiante %}


<h1 class="display-5 fw-bolder text-black mb-2"> Se agrego con exito </h1>


       
    <table class="table table-sm">
        
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Stock</th>
          </tr>
        </thead>
        {% for soft in Software %}
        <tbody>
          <tr>
            <th scope="row">{{soft.id}}</th>
            <td>{{soft.tipo_software}}</td>
            <td>{{soft.marca_software}}</td>
            <td>{{soft.stock_software}}</td>
          </tr>
        
        </tbody>
        {% endfor %}
    </table>
    
    
      
    




<a class="btn btn-secondary btn-lg px-4 me-sm-3" href="{% url 'Inicio'%}">Volver al inicio</a>

{% endblock %}